# Django Settings
DJANGO_SECRET_KEY=your-super-secret-key-here-change-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL for production)
DATABASE_URL=postgres://user:password@localhost:5432/miniup_db

# Static & Media
STATIC_URL=/static/
MEDIA_URL=/media/

# Security
CSRF_TRUSTED_ORIGINS=https://mini-up.ir,https://www.mini-up.ir