# Django Settings
DJANGO_SECRET_KEY=your-super-secret-key-here-change-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL for production)

# Static & Media
STATIC_URL=/static/
MEDIA_URL=/media/

# Security
CSRF_TRUSTED_ORIGINS=https://mini-up.ir,https://www.mini-up.ir

DB_NAME=miniup_db
DB_USER=miniup_user
DB_PASSWORD=1668
DB_HOST=localhost
DB_PORT=5432
