# Django
*.pyc
__pycache__/
db.sqlite3
.env
*.log

# Node / Tailwind
node_modules/
package-lock.json

# IDE / OS
.vscode/
.idea/
.DS_Store
.bin/
# Compiled static assets
static/css/main.css
static/js/*.min.js
