<nav class="navbar">
    <ul>
        <li><a href="{% url 'core:home' %}">خانه</a></li>
        <li class="dropdown">
            <a href="#">خدمات</a>
            <div class="dropdown-content">
                <a href="{% url 'core:virtual_services' %}">خدمات مجازی</a>
                <a href="{% url 'core:consulting' %}">مشاوره</a>
            </div>
        </li>
        <li><a href="{% url 'core:gaming_products' %}">محصولات گیمینگ</a></li>
        <li><a href="{% url 'core:buy_products' %}">خرید</a></li>
        <li><a href="{% url 'core:mini_game' %}">مینی گیم</a></li>
        <li><a href="{% url 'core:about' %}">درباره ما</a></li>
    </ul>
</nav>
